body {
  margin: 0px;
}
.container-box {
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: row;
}
.container1,
.container2,
.container3 {
  width: 10%;
  background-color: blueviolet;
  margin: auto;
  display: flex;
  justify-content: center;
}
.container2,
ul {
  width: 90%;
  display: flex;
  justify-content: center;
}
.container2 ul li {
  text-decoration: none;
  list-style: none;
  margin: auto;
}
.container2 {
  border: 1px solid black;
  background-color: white;
}
.hero_section {
  width: 100%;
  height: 600px;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
}

.readme_section {
  width: 100%;
  height: 300px;
  background-color: cornflowerblue;
  display: flex;
  justify-content: flex-end;
}
.readme_left {
  background-color: blue;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.project_section {
  width: 100%;
  height: 300px;
  background-color: crimson;
  display: flex;
  justify-content: center;
}
